{% comment %}
    lazyload paramater will force all images to lazyload.
    By default, images after 4 will lazy load.
{% endcomment %}
{% assign lazyLoadAfter = 4 %}

{% if lazyload %}
    {% assign lazyLoadAfter = 0 %}
{% endif %}


{% if settings.products_per_row == 2 %}
    {% assign imgSize = "1200x" %}
{% elsif settings.products_per_row == 3 %}
    {% assign imgSize = "700x" %}
{% elsif settings.products_per_row == 4 %}
    {% assign imgSize = "500x" %}
{% endif %}


{% comment %}
    Collection image.
{% endcomment %}
{% if collection.image %}
    {% assign featImage = collection.image %}
{% else %}
    {% assign featImage = settings.search_page_grid_image %}
{% endif %}


{% comment %}
    Product data.
{% endcomment %}
<div class="product  grid__item">

    <a href="{{ collection.url }}">

        <div class="product-image-aspect-ratio">

            {% if forloop.index > lazyLoadAfter %}

                {% comment %}
                    Product image, lazy loaded.
                {% endcomment %}
                <figure
                class="product__image  {% if hasAltImage == false %}product__image--no-alt{% endif %}  aspect-ratio__object  js-lazy-load"
                data-original="{{ featImage | img_url: imgSize, format: 'pjpg' }}"></figure>

            {% else %}

                <figure
                class="product__image  {% if hasAltImage == false %}product__image--no-alt{% endif %}  aspect-ratio__object" style="background-image: url('{{ featImage | img_url: imgSize, format: 'pjpg' }}');"></figure>

            {% endif %}

        </div>

    </a>

    <div class="product__text">

        <a href="{{ collection.url }}">
            <div class="product__title">{{ collection.title }}</div>
            <div class="product__collection-size"> &mdash; {{ collection.products.size }} Products</div>
        </a>

    </div>

</div>
