<div class="modal  js-modal  forgot-password" id="recover" data-modal-active-class="forgot-password--toggled">

    <div class="overlay-max-width">

        <span data-toggle="html" data-toggle-class="forgot-password--toggled" tabindex="0">
            {% include "close-svg" namespace: "modal", fill: "white" %}
        </span>


        {% form 'recover_customer_password' %}

            <fieldset class="account-form  page-padding  {% if form.posted_successfully? %}forgot-password--success{% endif %}">

                <legend class="account-form__legend">{{ "accounts.reset_password_title" | t }}</legend>

                {% if form.errors %}
                    <div class="message  message--error">{{ form.errors | default_errors }}</div>
                {% endif %}

                {% if form.posted_successfully? %}
                    <div class="message  message--success  message--large">{{ "accounts.password_reset_success" | t }}</div>
                {% endif %}

                {% unless form.posted_successfully? %}

                    <div class="relative">

                        <input type="email" name="email" id="recover-email" class="input-group__input  input-group__item">

                        <label for="customer_email" class="input-group__label">{{ 'accounts.email_field' | t }}</label>

                    </div>

                    <button type="submit" class="button  button--primary  input-group__item   button--large">{{ "accounts.reset_password_button" | t }}</button>

                {% endunless %}

                <div data-toggle-class="forgot-password--toggled" data-toggle="html" class="button  button--large  button--secondary  input-group__item  input-group__item--small">{% if form.posted_successfully? %}close{% else %}cancel{% endif %}</div>

            </fieldset>

        {% endform %}

    </div>

</div>
