{% capture action %}{{ shop.url }}/contact#contact-form{% endcapture %}

{% form 'contact', class: "form", id: "", action: action %}

    <div class="posted-successfully">

        <div class="form-header">
            <div class="form-header__right">Want to chat? <a href="tel:18774272377" class="text-hover">877 427 2377</a></div>
        </div>

        <div class="form__group  text-size-m">{{ 'contact.success_html' | t }}</div>

        <div class="js-contact-form-toggle  form__group  form__cancel  text-hover" data-toggle='{"togglesClass": "contact-form--toggled"}'>Close</div>

    </div>

    <div class="not-posted">

        <div class="js-contact-form-toggle  form__group  form__cancel  text-hover close-toggle" data-toggle='{"togglesClass": "contact-form--toggled"}'></div>

        <div class="form-header">
            <h4 class="form-header__left">Email E-Concierge</h4>
            <div class="form-header__right">Want to chat? <a href="tel:18008433269" class="text-hover">877 427 2377</a></div>

        </div>

        <fieldset>

            <legend>For questions or assistance, please complete the following form.</legend>

            <input type="hidden" name="contact[type]" value="General Customer Service">

            <div class="form__group">

                <div class="details  details--abs" data-updates="subject">

                    <div class="details__summary" data-selected="Select a subject"></div>

                    <div class="details__content" aria-expanded="false">
                        <div class="details__item" data-text="Order Inquiry/Order Change"></div>
                        <div class="details__item" data-text="Billing Inquiry"></div>
                        <div class="details__item" data-text="Repair Inquiry"></div>
                        <div class="details__item" data-text="General Inquiry"></div>
                        <div class="details__item" data-text="{{ shop.name }} For Business - Account Management"></div>
                    </div>

                </div>

            </div>

            <div class="form__group">
                <label for="body_{{ contactFormIndex }}">Message</label>
                <textarea id="body_{{ contactFormIndex }}" required name="contact[body]" class="input  input--small  input--gray  textarea"></textarea>
            </div>

            <div class="form__group">
                <label for="fname_{{ contactFormIndex }}">First Name</label>
                <input type="text" id="fname_{{ contactFormIndex }}" required name="contact[First Name]" class="input  input--small  input--gray">
            </div>

            <div class="form__group">
                <label for="lname_{{ contactFormIndex }}">Last Name</label>
                <input type="text" id="lname_{{ contactFormIndex }}" required name="contact[Last Name]" class="input  input--small  input--gray">
            </div>

            <div class="form__group">
                <label for="telephone_{{ contactFormIndex }}">Telephone (Optional)</label>
                <input type="tel" name="contact[telephone]" id="telephone_{{ contactFormIndex }}" class="input  input--small  input--gray">
            </div>

            <div class="form__group">
                <label for="email_{{ contactFormIndex }}">Email Address</label>
                <input type="email" required id="email_{{ contactFormIndex }}" name="contact[email]" class="input  input--small  input--gray">
            </div>

            {% comment %}
                Will be populated by the dropdown above.å
            {% endcomment %}
            <input type="hidden" name="subject" value="">

            <div class="form__group">
                <button type="submit" class="form__cta">{{ 'contact.submit' | t }}</button>
                <div class="form__cancel  text-hover" data-toggle='{"togglesClass": "contact-form--toggled"}'>{{ 'contact.cancel' | t }}</div>
            </div>

        </fieldset>

    </div>

{% endform %}
