<div class="forgot-password">

    {% form 'recover_customer_password', class: "block-input-form" %}

        <fieldset>

            <legend class="account-form__legend">{{ "accounts.forgot_password_title" | t }}</legend>

            {% comment %}
                Show success message, if submitted successfully.
            {% endcomment %}
            {% if form.posted_successfully? %}

                <div class="mt-s  message  message--success  message--large">{{ "accounts.forgot_password_form_success" | t }}</div>

                {% comment %}
                    Add toggled class to the root to show form on page load when form is posted successfully.
                {% endcomment %}
                <script>
                    document.querySelector("html").classList.add("forgot-password--toggled");
                </script>

            {% endif %}

            {% comment %}
                Hide the form elements if the form was successfully submitted.
            {% endcomment %}
            {% unless form.posted_successfully? %}

                {% comment %}
                    Email field.
                {% endcomment %}
                <div class="mb-m  field-group">
                    <label for="recover-email">{{ 'accounts.email_field_label' | t }}</label>
                    <input required type="email" name="email" id="recover-email" {% if autofocus %}autofocus{% endif %} value="{{ form.email }}">
                </div>

                {% comment %}
                    Show form errors.
                {% endcomment %}
                {% if form.errors %}
                    <div class="mb-m  message  message--error">{{ form.errors | default_errors }}</div>
                {% endif %}

                <div class="button-group">

                    <button type="submit" class="button  button--primary">{{ "accounts.forgot_password_button" | t }}</button>

                    <div data-toggle='{"togglesClass": "forgot-password--toggled", "allowEscToggle": true}' class="button  button--white">{{ 'accounts.forgot_password_cancel' | t }}</div>

                </div>

            {% endunless %}

        </fieldset>

    {% endform %}

</div>