{% comment %}
    This snippet provides the structure for our navs.
{% endcomment %}


{% assign activeSubLinkParent = "" %}

{%- for link in linklists.main-menu-3.links -%}

    {% assign child = link.handle %}
    {% assign hasDropdown = false %}

    {% if linklists[child].links.size > 0 %}
        {% assign hasDropdown = true %}
    {% endif %}

    {% if hasDropdown %}
        {% for subLink in linklists[child].links %}
            {% if subLink.active %}
                {% assign activeSubLinkParent = link.handle %}
                {% break %}
            {% endif %}
        {% endfor %}
    {% endif %}

{%- endfor -%}


{%- for link in linklists.main-menu-3.links -%}

    {% assign child = link.handle %}
    {% assign hasDropdown = false %}

    {% if linklists[child].links.size > 0 %}
        {% assign hasDropdown = true %}
    {% endif %}

    <div class="{{ namespace }}__item  {% if hasDropdown %}{{ namespace }}__item--has-dropdown{% endif %}">

        <a href="{{ link.url }}" class="{{ namespace }}__link  {% if link.active %}{{ namespace }}__link--active{% endif %}  {% if hasDropdown %}{{ namespace }}__dropdown-summary{% endif %}">{{ link.title }}</a>

        {% if hasDropdown %}

            <div class="{{ namespace }}__dropdown  {% if activeSubLinkParent == link.handle %}{{ namespace }}__dropdown--active{% endif %}" aria-label="{{ link.title }} submenu">

                {% for subLink in linklists[child].links %}
                    <a href="{{ subLink.url }}" class="{{ namespace }}__link  {{ namespace }}__link--in-dropdown  {% if subLink.active %}{{ namespace }}__link--active{% endif %}">{{ subLink.title }}</a>
                {% endfor %}

            </div>

        {% endif %}

    </div>

{%- endfor -%}
