{% comment %}
    The purpose of this script is to essentially handle selecting a variant of a product. This handles all PDP functionality.
    TODO: Rely less on the DOM for data, if possible.
{% endcomment %}
<script id="product-option-select">

    "use-strict";

    // Our base global object which stores all the data and functions.
    var productData = {
        $productWrap: $(".js-product[data-product-handle='{{ product.handle }}']"),
        product: {{ product | json }}
    };

    /*
    Manually populate some variant properties which for some reason, are not passed in when calling product | json. Careful with data types.
    */
    {% for variant in product.variants %}

        var variant = productData.product.variants[{{ forloop.index0 }}];

        variant.incoming = {{ variant.incoming }};
        variant.next_incoming_date = "{{ variant.next_incoming_date | date: '%m/%d/%Y' }}";

    {% endfor %}

    // s is short for settings. Define some settings and selectors.
    productData.s = {
        $productSelect: productData.$productWrap.find("select[name='id']"),
        $quantity:      productData.$productWrap.find("input[name='quantity']"),
        $option:        productData.$productWrap.find(".js-product-option"),
        $price:         productData.$productWrap.find(".js-product-price"),
        $color:         productData.$productWrap.find(".js-product-color"),
        $sku:           productData.$productWrap.find(".js-variant-sku"),
        $addToCart:     productData.$productWrap.find(".js-add-to-cart"),
        $addToCartForm: productData.$productWrap.find("form[action^='/cart/add']"),
        $carousel:      productData.$productWrap.find(".js-slick-slider"),
        $status:        productData.$productWrap.find(".js-form-status"),
        moneyFormat: "{{ shop.money_format }}",
        $preorderDate: productData.$productWrap.find("#preorderDate")
    };

    // Store the state of which product options have been selected.
    productData.state = {
        option1: null,
        option2: null,
        option3: null
    };

    // Determine if the product has options. Equivalent to liquid's product.has_only_default_variant.
    productData.hasOptions = function(){
        return productData.product.options[0] !== "Title";
    };

    // Get the master product select value.
    productData.getProductSelectVal = function(){
        return productData.s.$productSelect.val();
    };

    // Get the product quantity to add to cart.
    productData.getProductQuantity = function(){
        return productData.s.$quantity.val();
    };

    // This function listens for any events.
    productData.bindUI = function(){

        /*
        This event listener is concerned with the handling of our option selectors. Handling of other data should be place in selectCallback.
        NOTE: A click will trigger both a click and a selectCallback event.
        */
        productData.s.$option.on("click selectCallback", function(e, variant){

            var $self = $(this);

            // Get some data from the clicked option.
            var data = productData.getOptionData($self);

            // If the option clicked is already selected, just return false.
            if(data.value === productData.state[data.option]){
                return false;
            }

            // Get option selector based on its data-option.
            var $optionSelector = productData.getSingleOptionSelector(data.option);

            // Get value from given option selector.
            var optionSelectorVal = $optionSelector.find("option").filter("[value='" + data.value + "']").val();

            // Get all the options in the clicked option's group.
            var $optionsInGroup = productData.s.$option.filter("[data-option='"  + data.option + "']");

            // Get all options with the same value.
            var $optionsWithValue = productData.s.$option.filter("[data-value='" + data.value + "']");

            // Update the option selector, which triggers selectCallback. If the option is clicked as a result of a selectCallback do not trigger a change here. A selectCallback change triggers this already, if we do not check for the event type, you will get a stack overflow.
            if(e.type === "click"){
                $optionSelector.val(optionSelectorVal).trigger("change");
                return false;
            }

            // Determine if the clicked option is a color.
            var isColor = $self.data("is-color") || false;

            // Update our state so we know which options are selected and their values.
            productData.updateState(data.option, data.value);

            if( productData.hasOptions() ){
                productData.getLinkedOptions(false, data.option);
            }

            // Show images in the slider with the clicked option color only.
            if(isColor){
                productData.updateImages(data.value);
                productData.updateSelectedColor(data.value);
                productData.scrollToTop();
            }

            // uncheck all in current option.
            productData.toggleOptionChecked($optionsInGroup, false);

            // Check current option.
            productData.toggleOptionChecked($optionsWithValue, true);

            // If we have a returned variant and theres more than the default option.
            if(variant){

                var price     = variant.price;
                var compareAt = variant.compare_at_price;

                // Update price.
                productData.updatePrice(price, compareAt);

                // Update sku.
                productData.updateSku(variant.sku);

                if(variant.available){

                    // Allow add to cart.
                    productData.disableSubmit(false);

                    // Show proper text.
                    if( productData.isPreOrderable(variant) ){
                        productData.setSubmitValue("{{ 'product.preorder_message' | t }}");
                        productData.setFormStatusText("Expected ship date: " + variant.next_incoming_date + " {{ 'product.preorder_expected_date_extras' | t }}", "note");
                        productData.s.$preorderDate.val( variant.next_incoming_date );
                    } else {
                        productData.setSubmitValue("{{ 'product.add_to_cart' | t }}");
                        productData.setFormStatusText("");
                    }

                } else {

                    // Disallow add to cart.
                    // productData.disableSubmit(true);
                    productData.setConciergeButton()

                    // Set proper sold out messaging. Avoid showing 'Default title' to the user.
                    if( productData.hasOptions() ){
                        productData.setSubmitValue(variant.title + " Sold out");
                    } else {
                        productData.setSubmitValue("{{ 'product.sold_out' | t }}");
                    }

                    productData.setFormStatusText("");

                }

            } else {
                productData.disableSubmit(false);
                productData.setSubmitValue("{{ 'product.sold_out' | t }}");
                productData.setFormStatusText("");
            }

        });

    };

    /*
    Scroll the product images into view.
    */
    productData.scrollToTop = function(){

        var scrollTop = productData.s.$carousel.offset().top;

        $("html, body").animate({
            scrollTop: scrollTop
        }, 250);

    };

    /*
    Updates which options are selected.
    @param {key} option - An option in the state, either "option1", "option2" or "option3".
    @param {string} value - The option's respective value.
    */
    productData.updateState = function(option, value){
        if(option in productData.state){
            productData.state[option] = value;
        }
    };

    /*
    Visually updates the current color selected.
    @param {string} color - String equal to the current variant's color.
    */
    productData.updateSelectedColor = function(color){
        productData.s.$color.text(color);
    };

    /*
    Returns whether a variant is considered pre-orderable or not.
    @param {object} variant - The variant's object to check.
    */
    productData.isPreOrderable = function(variant){
        if(variant && variant.available && variant.inventory_quantity == 0 ){
            return true;
        }
    };

    /*
    Marks which other option combinations are sold out based on a master option given. Ex: XS size option is clicked, Red color is marked sold out since XS/Red combination is not available. Based on: https://help.shopify.com/themes/customization/navigation/link-product-options-in-menus.
    @param {object} state - An object containing which values are selected for each option. Object structure should mimic our own productData.state object.
    @param {string} masterOptionKey - Determines other combinations of options containing this option. Possible values: "option1", "option2", "option3".
    */
    productData.getLinkedOptions = function(state, masterOptionKey){

        // Default to existing product state.
        if(!state){
            state = productData.state;
        }

        // option1 is the default master.
        if(!masterOptionKey){
            masterOptionKey = "option1";
        }

        // Get the masterOptionKey's value.
        var masterOptionValue = state[masterOptionKey];

        // Set all $option el's to available.
        productData.toggleOptionAvailability(productData.s.$option, true);

        // Loop thru the variants in the current product.
        productData.product.variants.map(function(variant){

            var $unavailbleOption;

            // Special case for variant containing only 1 option.
            if(variant.options.length === 1){

                if(!variant.available){

                    // Get unavailable $option element.
                    $unavailbleOption = productData.s.$option.filter("[data-value='" + variant.option1 + "']");

                    // Set $option element to unavailable.
                    productData.toggleOptionAvailability($unavailbleOption, false);

                }

            } else {

                // Narrow down variants whose option[masterOptionKey] matches the masterOption.
                if(variant[masterOptionKey] === masterOptionValue){

                    // Narrow down by sold out variants, as the whole point of getLinkedOptions is to show which are sold out.
                    if(!variant.available){

                        // Loop thru the options in the variant.
                        variant.options.map(function(option){

                            // Skip over master option.
                            if(option !== masterOptionValue){

                                // Get unavailable $option el.
                                $unavailbleOption = productData.s.$option.filter("[data-value='" + option + "']");

                                // Set $option el to unavailable.
                                productData.toggleOptionAvailability($unavailbleOption, false);

                            }

                        });

                    }

                }

            }

        });

    };

    /*
    Gets one of shopify's option selectors based on an option. These option selector elements are appended to the DOM by shopify via option_selection.js.
    @param {string} option - The option to look for in shopify's option selectors. Possible values: "option1", "option2", "option3".
    */
    productData.getSingleOptionSelector = function(option){
        return $(".single-option-selector[data-option='" + option + "']");
    };

    /*
    NOTE: Our current method of filtering images assumes the product images are in a slick slider carousel [http://kenwheeler.github.io/slick/]. You can change the way they are filtered by editing the filtering functions.

    This fn Unfilters product images, then re-filters based on a color.
    @param {string} color - A color of a variant to filter images by, so only the given color is shown.
    */
    productData.updateImages = function(color){
        productData.unFilterImages();
        productData.filterImagesByColor(color);
    };

    /*
    @param {string} color - A color of a variant to filter images by, so only the given color is shown.
    */
    productData.filterImagesByColor = function(color){

        // Prepare a selector.
        var slickFiltered = "[data-color='" + color + "']";

        // If no color, select all.
        if(!color){
            slickFiltered = "[data-color]";
        }

        if( $(slickFiltered).length > 0 ){

            // Filter slick slider to only show images with the given color.
            productData.s.$carousel
            .slick('slickFilter', slickFiltered)
            .slick("slickGoTo", 0);

        } else {
            console.warn("No associated image for color: " + color);
        }

    };

    /*
    Unfilters images.
    */
    productData.unFilterImages = function(){
        productData.s.$carousel.slick('slickUnfilter');
    };

    /*
    Inits filtering of images, called once when the script is run.
    */
    productData.initSlickFilter = function(){

        // Check snippets/product-images.liquid to see how we set the .js-slick-slide-filter class.
        var slickFiltered = ".js-slick-slide-filter";
        var color = $(slickFiltered).data("color");

        productData.filterImagesByColor(color);

    };

    /**
    returns an object containing an option's value and option.
    @param {$selector} $option - A product option (s.$option)
    */
    productData.getOptionData = function($option){
        return {
            value:  $option.data("value"),
            option: $option.data("option")
        };
    };

    /**
    Updates the sku element on the page to show sku changes between variants.
    @param {string,number} sku - A variant's sku.
    */
    productData.updateSku = function(sku){
        if( (typeof(sku) === "number" || typeof(sku) === "string") && productData.s.$sku.length){
            productData.s.$sku.text(sku);
        } else {
            console.warn("SKU not updated.");
        }
    };

    /**
    Updates the price element on the page to show price changes between variants.
    @param {number} price - A variant's price.
    @param {number} compareAt - A variant's compare_at_price, optional.
    */
    productData.updatePrice = function(price, compareAt){

        if( (typeof(price) === "number" || typeof(price) === "string") && productData.s.$price.length){

            var $price, $compareAt, $html;

            price = Shopify.formatMoney(price, productData.s.moneyFormat).replace(".00", "");

            $price = '<span class="product__price">' + price + '</span>';
            $html  = $price;

            if( typeof(compareAt) === "number" || typeof(compareAt) === "string" ){

                compareAt = Shopify.formatMoney(compareAt, productData.s.moneyFormat);

                $price = '<ins class="product__price  product__price--on-sale">' + price + '</ins>';

                $compareAt = '<del class="product__price  product__price--compare-at">' + compareAt + '</del>';

                $html = $price + $compareAt;

            }

            productData.s.$price.html($html);

        } else {
            console.warn("Price not updated.");
        }

    };

    /**
    @param {$selector} $option - A product option (s.$option)
    @param {boolean} checked - Indicates checked status of the option.
    */
    productData.toggleOptionChecked = function($option, checked){
        $option.attr("aria-checked", checked);
    };

    /**
    @param {$selector} $option - A product option (s.$option)
    @param {boolean} available - State indicating if the option is available or not.
    */
    productData.toggleOptionAvailability = function($option, available){
        $option.attr("data-available", available);
    };

    /**
    @param {boolean} disabled - Status indicating if the button is disabled or not.
    */
    productData.disableSubmit = function(disabled){
        productData.s.$addToCart.prop("disabled", disabled);
    };
    productData.setConciergeButton = function () {
      productData.s.$addToCart.on('click', function(e){
        e.preventDefault()
        $('html').addClass('contact-form--toggled')
        this.value = "Connect to E-Concierge"
      })
    }

    /**
    @param {string} value - The value of the submit button.
    */
    productData.setSubmitValue = function(value){
        productData.s.$addToCart.val(value);
    };



    /**
    @param {string} text - The message text to be displayed to the user.
    @param {string} status - data-attribute of the status element noting what kind of message we are displaying. This value can be anything and is intended for styling purposes only. We recommend the values: "error", "success", or "note".
    */
    productData.setFormStatusText = function(text, status){

        if(productData.s.$status.length){
            status = typeof("status") === "undefined" ? "" : status;
            productData.s.$status.text(text).attr("data-status", status);
        } else {
            console.warn("Form status not updated.");
        }

    };

    productData.init = function(){

        productData.bindUI();
        productData.initSlickFilter();

        // Init shopify optionSelectors.
        jQuery(function($) {

            new Shopify.OptionSelectors('productSelect', {
                product: productData.product,
                onVariantSelected: selectCallback,
                enableHistoryState: true
            });

        });

    };

    /*
    The almighty selectCallback. Do not enclose in our productData object, as we want this function to be global. Some 3rd party apps utilize selectCallback so its important to maintain some level of compatibility.
    */
    function selectCallback(variant){

        // Trigger a selectCallback on our options whose data-value is equal to the selected variant's options.
        $.each(variant.options, function(index, option){
            productData.s.$option.filter("[data-value='" + option + "']")
            .trigger("selectCallback", variant);
        });

    }

    // Wait for DOM ready since this snippet is placed in the body somewhere.
    $(document).ready(function(){
        productData.init();
    });


</script>
