{% comment %}
Include this snippet with variables. Uses monosocial icons.
{% include 'social-media', mail: true, facebook: true, instagram: true %}
{% endcomment %}

{% assign current_url = '' %}

{% case template %}

    {% when 'page' %}
        {% assign current_url = page.url %}

    {% when 'blog' %}
        {% assign current_url = blog.url %}

    {% when 'article' %}
        {% assign current_url = article.url %}

    {% when 'collection' %}
        {% assign current_url = collection.url %}

    {% when 'product' %}
        {% assign current_url = product.selected_or_first_available_variant.url %}
        {% assign description = product.description | url_escape %}
        {% assign media = product.selected_or_first_available_variant.image.src | img_url: '600x', format: 'pjpg' %}

{% endcase %}


{% comment %}
    If its included as a share, we'll change the links.
{% endcomment %}
{% if share %}

    {% capture mailHref %}mailto?subject={{ shop.name }}&body={{ shop.url }}{{ current_url }}{% endcapture %}

    {% capture fbHref %}https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ current_url }}{% endcapture %}

    {% capture pinterestHref %}https://pinterest.com/pin/create/button/?url={{ shop.url }}{{ current_url }}&media={{ media }}&description={{ description | strip_html }}{% endcapture %}

    {% capture twitterHref %}https://twitter.com/home?status={{ shop.url }}{{ current_url }}{% endcapture %}

    {% capture tumblrHref %}{{ settings.tumblr_url }}/{% endcapture %}

{% else %}

    {% comment %}
        Link to the social media handles.
    {% endcomment %}
    {% capture mailHref %}mailto:{{ settings.contact_email }}{% endcapture %}
    {% capture fbHref %}{{ settings.facebook_url }}{% endcapture %}
    {% capture pinterestHref %}{{ settings.pinterest_url }}{% endcapture %}
    {% capture twitterHref %}{{ settings.twitter_url }}{% endcapture %}
    {% capture tumblrHref %}{{ settings.tumblr_url }}{% endcapture %}
    {% capture igHref %}{{ settings.instagram_url }}{% endcapture %}
    {% capture youtubeHref %}{{ settings.youtube_url }}{% endcapture %}

{% endif %}


<div class="social-media">

    {% if instagram %}
        <div>
            <a href="{{ igHref }}" class="social-media__item  {{ class }}" target="_blank">Instagram</a>
        </div>
    {% endif %}

    {% if facebook %}
        <div>
            <a href="{{ fbHref }}" class="social-media__item  {{ class }}" target="_blank">Facebook</a>
        </div>
    {% endif %}

</div>